.NewsMgrTPage .ltree {
  padding: 10px 4px;
  width: 210px;
  background-color: #def;
  border-right: 1px solid #aaa;
}

.NewsMgrTPage .rtbl {
  padding: 6px;
}

.NewsMgrTPage .rtb {
  background-color: #eee;
  margin: -6px -6px 6px;
  padding: 7px;
  border-bottom: 1px solid #bbb;
}

#idNewsMgrTPage_category {
  min-height: 500px;
}