.NewsMgrTPage .ltree {
  padding: 10px 4px;
  width: 210px;
  background-color: #def;
  border-right: 1px solid #aaa;
}

.NewsMgrTPage .rtbl {
  padding: 6px;
}

#idNewsMgrTPage_category {
  min-height: 500px;
}