.NewsFormBasePage {
	width: 75%;
}

@media screen and (max-width: 1024px) {
  .NewsFormBasePage {
    width: 1010px;
  }
}

.NewsFormBasePage .FormTableRowTemplatePage {
	padding: 0;
}

#idNewsForm_opts {
  background-color: #fafafa;
  border: 1px solid #999;
  margin-top: 8px;
  padding: 10px;
}

.NewsFormAttachPage,
.NewsFormVotePage {
  width: 80%;
  -webkit-box-shadow: 5px 5px 5px #aaa;
	-moz-box-shadow: 5px 5px 5px #aaa;
	box-shadow: 5px 5px 5px #aaa;
}

.NewsFormVotePage .OneTableTemplatePage {
  padding: 0;
}

.NewsCommentMgrPage>div {
	margin: 10px 0;
	width: 85%;
}

/**------------------ NewsMgrTPage ---------------------**/
.NewsMgrTPage .ltree {
  padding: 10px 4px;
  width: 195px;
  background-color: #def;
}

.NewsMgrTPage .rtbl {
  padding: 6px;
}

.NewsMgrTPage .rtb {
  padding: 1px 1px 7px;
}

#idNewsMgrTPage_category {
  min-height: 500px;
}

/**------------------ NewsAdvPage ---------------------**/
.NewsAdvPage {
  padding: 0 8px;
}

.NewsAdvPage .cc1 {
  background-color: #eec;
  margin-top: 10px;
  padding: 8px 10px 15px 10px;
}

.NewsAdvPage .bc {
  text-align: right;
  margin: 10px;
}