.NewsMgrTPage .ltree {
  padding: 10px 4px;
  width: 195px;
  background-color: #def;
}

.NewsMgrTPage .rtbl {
  padding: 6px;
}

.NewsMgrTPage .rtb {
  padding: 1px 1px 7px;
}

#idNewsMgrTPage_category {
  min-height: 500px;
}